<!--designates the caller element as the root. It’s usually placed on <html> or <body>-->
<html ng-app>
    <head>
      <title>Hello World in AngularJS</title>
    </head>
    <body>
        <!--binds usually form elements. For instance, input, select, checkboxes, textarea-->
        <!--way of binding models to elements in HTML-->
        <input ng-model="name"> Hello {{ name }}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    </body>
</html>