<html ng-app="app">
    <head>
      <title>Hello Controllers in AngularJS</title>
    </head>
    <body>

    <ng-view></ng-view>
      
    <!-- Template -->   
    <script type="text/ng-template" id="/todos.html">
      <ul>
        <li ng-repeat="todo in todos">
          <input type="checkbox" ng-model="todo.completed">
          <a href="#/{{$index}}">{{todo.name}}</a>
        </li>
      </ul>
    </script>
      
    <script type="text/ng-template" id="/todoDetails.html">
      <h1>{{ todo.name }}</h1>
      completed: <input type="checkbox" ng-model="todo.completed">
      note: <textarea>{{ todo.note }}</textarea>
    </script>
    
    </body>
</html>